@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;
@use "@styles/abstracts/functions" as *;
@use "@styles/abstracts/placeholders" as *;

.report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}