# Symfony backend
 
# Définir dans .env.local (pas .env pour éviter les conflits avec un déploiement sur Railway par exemple) les variables :

# Connecter Symfony à une base de données MySQL
DATABASE_URL="mysql://db_user:db_password@host:3306/db_name"

# Permettre les requêtes du frontend
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###


# URL du backend Symfony
VITE_API_URL=http://localhost:8000

# Chemins relatifs comme base du build Vite 
VITE_BASE_URL=./