@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;
@use "@styles/abstracts/functions" as *;
@use "@styles/abstracts/placeholders" as *;

.input {
  @extend %input;
}

.mileage {
  h4 {
    margin-bottom: 2rem;
  }
  ul {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      border: 0.15rem solid $secondary-color;
      border-radius: 1rem;
    }
  }
}

.nextPrevButton {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}