@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;
@use "@styles/abstracts/functions" as *;
@use "@styles/abstracts/placeholders" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 0 5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
