@use "@styles/abstracts/variables" as *;

%input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0;
  input,
  select {
    padding: 1rem;
    border: 0.15rem solid $secondary-color;
    border-radius: 1rem;
  }
}

%checkbox {
  @extend %input;
  flex-direction: row-reverse;
  justify-content: flex-end;
  input {
    width: fit-content;
  }
}

%button-base {
  padding: 0.65rem 1rem;
  border-radius: 1rem;
  border: 0.15rem solid;
  transition:
    background-color 0.5s,
    border-color 0.5s,
    color 0.5s;
}
