@use "@styles/abstracts/functions" as *;

// Typographie
$font-heading: "Fira-Sans", sans-serif;
$font-body: "Signika-Negative", sans-serif;

// Graisses
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Points de rupture
$bp-desktop: 768px;

// Ratios typographiques
$desktop-font-ratio: 1.2;
$mobile-font-ratio: 1.125;

// Couleurs
$primary-color: #fff;
$secondary-color: #adcad2;
$tertiary-color: #2a3231;
$accent-color: #2dab92;
$error-color: rgb(207, 42, 75);

// Espacements
$padding-global: spaceCalc(1.5rem, 8.5rem, 12rem);
