// Typographie
$font-heading: "Fira-Sans", sans-serif;
$font-body: "Signika-Negative", sans-serif;

// Graisses
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Points de rupture
$bp-desktop: 768px;

// Ratios typographiques
$desktop-font-ratio: 1.25;
$mobile-font-ratio: 1.2;

// Couleurs
$primary-color: #fff;
$secondary-color: #c2c2c2;
$tertiary-color: #000;
$accent-color: #ff0000;